@import './reset';
@import './global';

body {
  font-family: 'Montserrat', sans-serif;
}

.header {
  text-align: center;
  margin: 10px 1rem;
}
.header h1 {
  font-size: 2.2rem;
  background-color: cornflowerblue;
  padding: 0.5rem 1rem;
  border-radius: 30px;
  color: whitesmoke;
  font-weight: 600;
}

.flex-15 {
  flex: 0 1 15%;
}

.flex-60 {
  flex: 0 1 65%;
}
.flex-60 div {
  margin: 10px 3px;
}
.h2 {
  font-size: 1.3rem;
}
.box {
  display: flex;
  justify-content: space-between;
}
.img {
  width: 300px;
  height: 350px;
  border-radius: 15px;
}
.product-box {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.input-div {
  text-align: center;
}
.input-div input {
  width: 60%;
  padding: 0.5rem;
  font-size: 1.3rem;
  text-transform: capitalize;
  outline-color: cornflowerblue;
  border-radius: 2px 20px 2px 20px;
}
.tag-list {
  display: flex;
  flex-wrap: wrap;
  margin-top: 3rem;
}
.tag-list li {
  width: 60px;

  height: 60px;
  margin: 3px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  background-color: cornflowerblue;
  color: white;
  font-weight: 600;
  font-size: 1.3rem;
  font-family: 'Combo', cursive;
  cursor: pointer;
}

.cart-img {
  width: 100px;
  cursor: pointer;
}

.cart-div {
  margin-top: 3.3rem;
}
.select {
  font-size: 1rem;
  text-transform: capitalize;
  padding: 0.3rem 0.6rem;
  color: white;
  background-color: cornflowerblue;
  border-radius: 5px;
  outline: none;
  margin: 2px 0;
}

#active {
  background-color: black;
  color: white;
  width: 60px;
  height: 60px;
  margin: 3px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  font-weight: 600;
  font-size: 1.3rem;
  font-family: 'Combo', cursive;
  cursor: pointer;
}
.cart-img2{
    width: 200px;
}

.total{
    background-color: black;
    color: white;
    padding: .5rem ;
    font-weight: 600;
    margin-top: 1.3rem;
}
.cart-box{
    display: none;
}
.span{
    cursor: pointer;
}
.increament-btn{
display: flex;
}
.increament-btn button{
    margin: .3rem 1rem .3rem 0;
}

.name{
  font-size: 1.2rem;
  margin: .3rem 0;
  font-weight: 600;
}
.price{
  font-size: 1rem;
  margin: .2rem 0;
}
.quantity{
  margin: .2rem 0; 
}